@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200&display=swap");

.hero {
	background-image: url("./assets/Poster.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.search::placeholder {
	color: white;
}

.card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	justify-items: center;
}
@media screen and (max-width: 1200px) {
	.card {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

.bar > * {
	margin: 1.5rem 0;
}

.bar div a {
	padding: 1.5rem 0rem;
	width: 100%;
}
.bar div a:hover {
	color: #be123c;
	background: #be123c1a;
	border-right: 3px solid #be123c;
}
.bar div a span {
	margin-right: 10px;
}
.movie_container {
	background-size: cover;
	background-repeat: no-repeat;
}
